body{
    padding-top: 100px;
    background-color: aquamarine;
}

.container, .scroll-area {
    max-width: 850px;
    height: 500px;
    font-size: 60px;
    margin: 0 auto;
}

.container {
    overflow: auto;
    scroll-snap-type: y proximity;
    height: 500px;
}
.scroll-area{
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: burlywood;
}
.scroll-area:nth-of-type(1){
    background-color: chocolate;
}
.scroll-area:nth-of-type(2){
    background-color: darkmagenta;
}.scroll-area:nth-of-type(3){
    background-color: forestgreen;
}.scroll-area:nth-of-type(4){
    background-color: goldenrod;
}
